@import '../../../styles/settings.scss';

.root {
  background-color: $color-background-bright;
  color: $color-text-dark;
  padding: 5px 20px;
  

  nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;

    .logo {
      font-family: $font-logo;
      justify-self: center;
    }

    .cart {
      justify-self: right;
      font-size: 1.8rem;
      position: relative;

      span {
        position: absolute;
        background-color: $color-background;
        border-radius: 50%;
        color: $color-text-light;
        height: 1.2rem;
        width: 1.2rem;
        font-size: 0.9rem;
        text-align: center;
        line-height: 1.2rem;
        left: -12px;
      }
    }
    
    a:hover {
      color: darken($color-text-dark, 20);
    }

    .links a {
      padding: 15px;
      font-size: 1rem;

      &:hover {
        border-bottom: 2px solid $color-text-dark;
      }
    }
  }

  .hide {
    display: none;
  }
}

/* MEDIA */

@media(max-width: $tablet-breakpoint) {
  .root {
    .links {
      display: none;
    }

    nav {
      grid-template-columns: 5fr 1fr;

      .logo {
        justify-self: left;
      }
    }
  }
}