@import '../../../styles/settings.scss';

.root {
  display: flex;
  background-color: $color-background-light;
  color: $color-text-dark;
  padding: 10px 20px;
  justify-content: space-between;
  
  a {
    padding: 15px;
    font-size: 0.8rem;

    &:hover {
      color: darken($color-text-dark, 20);
    }
  }
 
  .socialMedia {
    grid-column-start: 3;
    justify-self: right;
  }
}

/* MEDIA */
@media(max-width: $tablet-breakpoint) {
  .root {
    grid-template-columns: 1fr 1fr;
  }
}
